* {
	padding: 0;
	margin: 0;
}
body {
	overflow:hidden;
	height:100%;
	font-family:Arial;
	font-size:12px;
	background: #fff url('../images/backgrounds/loader-frames.gif') center center no-repeat;
	#iframe {
		margin:60px 0 0 0;
		width:100%;
		display:block;
	}
	#overlay {
		width:100%;
		height:60px;
		display:block;
		position:fixed;
		top:0;
		left:0;
		color:#fff;
		background: #191919;
	    box-shadow:0 4px 5px rgba(0, 0, 0, 0.4) !important; 
		z-index:999;
		h1 { 
			a {
				width:200px;
				height:45px;
				float:left;
				text-indent: -9999px;
				margin:9px 0 5px 20px;
				padding:2px 0 0 0; 
				background: url('../images/sprite/sprite.png') -407px 0 no-repeat;
			}
		}
		p {
			float: right;
			margin:22px 20px 0 0;
		}
		p, strong {
			font-size: 14px;
			color: #fff;
		}
	}
	&#hide {
		#iframe {
			margin:0;
		}
		#overlay {
			display: none;
		}
	}
}